<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page"
                    sec:authorize="isAnonymous()">Home</a></li>
            <li class="nav-item"><a href="/board" class="nav-link active" aria-current="page"
                    sec:authorize="isAuthenticated()">Board</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/login" class="nav-link" sec:authorize="isAnonymous()">Login/Regist</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link" sec:authorize="isAuthenticated()">Logout</a></li>
        </ul>
    </header>
    <div class="container my-3">
        <table class="table">
            <caption>게시판 입니다</caption>
            <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="postInfo, loop : ${list}">
                    <td th:text="${postInfo.id}"></td>
                    <td>
                        <a th:href="@{|/boards/post/${postInfo.id}|}" th:text="${postInfo.postSubject}"></a>
                    </td>
                    <td th:text="${postInfo.name}"></td>
                    <td th:text="${#temporals.format(postInfo.postDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
    </div>



    <div th:replace="~{misc/footer :: footer}"></div>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</body>

</html>