<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <form method="post" action="/join">
        <input type="text" name="schoolId" placeholder="1">
        <input type="text" name="clubId" placeholder="1">
        <input type="text" name="positionId" placeholder="1">
        <input type="text" name="studentType" placeholder="FRONT, MIDDLE, BACK 중에서 입력">
        <input type="text" name="name" placeholder="이름">
        <input type="number" name="age" placeholder="나이">
        <input type="email" name="email" placeholder="이메일">
        <input type="text" name="accountId" placeholder="아이디">
        <input type="passwd" name="accountPasswd" placeholder="비밀번호">
        <input type="submit" value="등록">
    </form>

    <script src="" async defer></script>
</body>

</html>